/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
verdana o futura y para las otras times 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 , h2, h3, h4, h5 {
  color: #2C303F;
}

h2 {
  text-align: center; 
}

p {
color: #5b5e6d;
}

/*NAV BAR */

nav {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-bottom: 1px solid rgba(91,94,109, .3);
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 100;
  margin: 0 20px;
}

nav .logo {
  width: 25%;
}

nav ul {
  list-style: none;
  display: none;
}


/*HEADER*/

header {
  padding: 30px 30px 0px 30px;
  margin: 50px 20px 0 20px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  overflow: hidden;
}

header img {
  width: 100%;
  margin-top: 15px;
}

header h1 {
  font-size: 4rem;
  color: #2c303f;
  margin: 50px 0;
}

header p {
  color: #5b5e6d;
  font-size: 1.5rem;
  text-align: left;
  line-height: 1.5;
  margin-bottom: 80px;
  text-align: left;
}

header input{
  color:  #5b5e6d;
  text-align: left;
  padding: 30px;
  border: 1px solid rgba(91,94,109, .3);
  border-radius: 8px;
  font-size: 1.3rem;
  width: 100%;
}

header button {
  background-color: #192592;
  color: #fff;
  text-align: center;
  padding: 30px;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  margin: 50px 0;
}

header .sign-in {
  color: #5b5e6d;
  font-size: 1.5rem;
  text-align: center;
}

/*MAIN*/

main {
  margin: 20px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h2 {
  font-size: 3rem;
  color: #2c303f;
  margin: 50px 0;
}

main p {
  color: #5b5e6d;
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
}

main button {
  color: #192592;
  background-color: #fff;
  text-align: center;
  padding: 30px;
  border: 1px solid #192592;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  margin: 50px 0;
}

main img {
  padding: 70px 100px;
  width: 100vw;
  text-align: center;
  border-bottom: 1px solid rgba(91,94,109, .3);
  background-color: #F4F3F4;
}

main .try{
    margin-top: 50px;
    color:  #2C303F;
    font-weight: bold;
    font-size: 2rem;
}

main .sign{
  color:  #2C303F;
}

main .started{
  background-color: #192592;
  color: #fff;
  padding: 30px;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  width: 100%;
  margin: 50px 0;
}

footer {
  margin: 20px 50px;
}
}

/*MAIN*/



/*FOOTER*/




/*MEDIA QUERIES*/

@media screen and () {



}
